.inputswitch-theme .p-inputswitch-slider:before {
    font-family: 'primeicons';
    padding: 1px;
    content: '\e9c8';
}

.inputswitch-theme.p-highlight .p-inputswitch-slider:before {
    content: '\e9c7';
}