/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url('/img/dragon_okinawa_background.jpg');
  background-size: cover;
  background-position-y: 60%;
}

.heroBanner h1,
.heroBanner p {
  text-shadow: 0.5px 0.5px var(--ifm-font-color-base);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}